---
layout: layouts/base.njk
title: A placeholder for Faraj project.
eleventyNavigation:
  key: Faraj Initiative
  order: 3
---

<span> The Faraj Initiative has been tranfered to => <a href="https://faraj.io/en/">  https://faraj.io  </a> &nbsp; <small><i> Still under development though! <i> </small> </span>

<br>
<br>

<span dir="rtl"> تم نقل موقع مبادرة الفرج إلى => <a dir="rtl" href="https://faraj.io/ar/">  https://faraj.io  </a> &nbsp; <small><i> لايزال تحت التطوير! <i> </small> </span>

