---
layout: layouts/base.njk
title: About Me
eleventyNavigation:
  key: About Me/ Resume
  order: 3
---
<h1>Resume</h1>
<section class="section">
   <h2 class="section_title">
    Who Am I? </h2>
   <h3 class="entry_detail">I'm just a human who likes tech, excluding ChatGPT. It's not because I don't think it's useful or that it might replace my job. I just think it's a bit overrated.</h3>
   <p class="entry_detail">Actually, a long time ago, I wrote an article on how to write an article for my portfolio/agency <a href="https://zaat.dev">Zaat.dev</a>. In it, I set the author to be <a href="https://github.com/zaatbot">zaatbot</a>. You can find the article here: <a href="https://zaat.dev/blog/adding-article/">zaat.dev/blog/adding-article/</a>. The article was published on <time datetime="2020-09-03">September 3, 2020</time>.</p>
   <p class="entry_detail">While I certainly didn't use an AI generative tool to write it, it feels good knowing that what I faked at the time could actually be true today!</p>
</section>
{% for section in sections %}
  <section class="section">
    <h2 class="section_title">
      {{ section.name }}<h2>
        <ol class="list">
          {% for item in section.items %}
            <li class="list_item">
              <article class="article">
                <div class="entry_header">
                  <h3 class="entry_title">
                    {{ item.name }}
                  </h3>
                  <div class="date">
                    {% include "dates.njk" %}
                  </div>
                </div>
                <p class="entry_detail">
                  {{ item.details }}
                </p>
                <div class="entry_detail entry_summary">
                  {% include "details.njk" %}
                </div>
              </article>
            </li>
          {% endfor %}
        </ol>
      </section>
    {% endfor %}
    {% include "contact.njk" %}

<script src="/js/about.js" type="application/javascript"></script>